/NetBeansProject/SistemaWebHotel/nbproject/private/
/NetBeansProject/SistemaWebHotel/SistemaWebHotel-war/nbproject/private/
/NetBeansProject/SistemaWebHotel/SistemaWebHotel-ejb/nbproject/private/
/NetBeansProject/SistemaWebHotel/SistemaWebHotel-war/dist/
/NetBeansProject/SistemaWebHotel/build/