/NetBeansProject/SistemaWebHotel/nbproject/private/
/NetBeansProject/SistemaWebHotel/SistemaWebHotel-war/nbproject/private/
/NetBeansProject/SistemaWebHotel/SistemaWebHotel-ejb/nbproject/private/
/NetBeansProject/SistemaWebHotel/SistemaWebHotel-war/dist/
/NetBeansProject/SistemaWebHotel/build/
C:\Users\andre\Projetos\GitHub\hotel-system\NetBeansProject\SistemaWebHotel\build
C:\Users\andre\Projetos\GitHub\hotel-system\NetBeansProject\SistemaWebHotel\SistemaWebHotel-war\build
C:\Users\andre\Projetos\GitHub\hotel-system\NetBeansProject\SistemaWebHotel\SistemaWebHotel-ejb\build