/NetBeansProject/ SistemaHotel/nbproject/private/
/NetBeansProject/SistemaHotel/SistemaWebHotel-war/nbproject/private/
/NetBeansProject/SistemaHotel/SistemaWebHotel-ejb/nbproject/private/
/NetBeansProject/SistemaHotel/SistemaWebHotel-war/dist/
/NetBeansProject/SistemaHotel/build/
C:\Users\andre\Projetos\GitHub\hotel-system\NetBeansProject\SistemaHotel\build
C:\Users\andre\Projetos\GitHub\hotel-system\NetBeansProject\SistemaHotel\SistemaWebHotel-war\build
C:\Users\andre\Projetos\GitHub\hotel-system\NetBeansProject\SistemaHotel\SistemaWebHotel-ejb\build